<!DOCTYPE html>
<html lang="en" class="text-gray-900 bg-white font-serif">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./static/css/main.css" rel="stylesheet">
    <link rel="icon" type="image/ico" href="/static/favicon.ico" />
    <script type="module" src="static/js/sanscript.js"></script>
    <script type="module" src="static/js/transliterate.js"></script>
    {% block head %}
    <header class="bg-blue-500 py-4">
        <nav class="flex justify-center space-x-6">
            <a href="/" class="text-white hover:underline">Home</a>
            <a href="/blog" class="text-white hover:underline">Blog</a>
            <a href="/about" class="text-white hover:underline">About</a>
        </nav>
    </header>
    <select id="transliterationDropdown">
        <option value="devanagari">Devanagari</option>
        <option value="hk">Harvard-Kyoto</option>
        <option value="bengali">Bengali</option>
        <option value="gujarati">Gujarati</option>
        <option value="gurmukhi">Gurmukhi</option>
        <option value="kannada">Kannada</option>
        <option value="malayalam">Malayalam</option>
        <option value="oriya">Oriya</option>
        <option value="telugu">Telugu</option>
        <option value="iast">International Alphabet of Sanskrit Transliteration</option>
        <option value="itrans">ITRANS</option>
        <option value="itrans_dravidian">ITRANS with support for Dravidian short "e" and "o"</option>
        <option value="kolkata">National Library at Kolkata</option>
        <option value="slp1">Sanskrit Library Phonetic Basic</option>
        <option value="velthuis">Velthuis</option>
        <option value="wx">WX</option>
    </select>
    {% endblock %}
</head>

<body>
    <header>
        {% block header %}{% endblock %}
    </header>

    <div id="root">
        {% block main %}{% endblock %}
    </div>

    <footer>
        {% block footer %}{% endblock %}
    </footer>
</body>

</html>