@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    html {
        @apply select-none;
        @apply bg-gray-300;
        @apply font-mono font-normal text-gray-600;
        -webkit-text-size-adjust: 100%;
        text-size-adjust: 100%;
        font-family: Inter var, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    }

    a {
        @apply m-0;
    }

    .headerDiv {
        @apply sticky top-0;
        @apply w-full;
        @apply flex flex-col items-stretch justify-start md:justify-between md:flex-row md:items-stretch;
        @apply bg-slate-200 pb-3;
        @apply border-gray-500 border-b-2;
    }

    .header {
        @apply flex flex-row items-start justify-center md:justify-between;
        @apply me-0 md:mx-10;
    }

    a:not(.post_title) {
        @apply mx-4 text-center self-center;
    }

    .transliterationDropdownDiv {
        @apply flex flex-col items-center justify-center;
    }

    #transliterationDropdown {
        @apply text-center;
        @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
        @apply py-1 mt-3 mb-2 pl-2 md:w-fit;
        @apply mx-auto w-1/2;
    }

    .root {
        @apply block flex flex-row justify-center;
    }

    .sanscript {
        @apply hidden;
    }

    .transliterated_text {
        @apply p-2 block w-fit bg-white border border-gray-200 rounded-lg dark:bg-gray-800 dark:border-gray-700;
        @apply md:p-10 md:px-20 md:text-2xl dark:text-white;
        @apply me-0 md:mx-auto mb-5;
    }

    #main {
        @apply mx-auto w-3/5;
    }

    h1.heading {
        @apply my-5 text-4xl text-gray-950 font-mono font-semibold pb-2 text-center;
    }

    .date {
        @apply mx-auto text-center w-full text-sm font-mono m-5;
    }

    p {
        @apply w-fit;
        @apply me-0 py-5 px-3 text-stone-900 font-mono leading-relaxed;
    }

    h1 {
        @apply mx-auto text-4xl text-gray-950 font-mono py-2 text-center;
    }

    h2 {
        @apply text-3xl text-gray-800 font-mono py-2;
    }

    h3 {
        @apply text-2xl text-gray-700 font-mono py-2;
    }

    h4 {
        @apply py-5 text-stone-900 font-mono;
    }

    ol {
        @apply list-decimal list-inside my-4 font-mono;
    }

    ul {
        @apply list-disc list-inside my-4 font-mono;
    }

    .posts_ul {
        @apply flex flex-col space-y-4;
    }

    .post_li {
        @apply border-b border-dotted border-gray-800 w-full flex flex-row justify-between;
    }

    a.post_title {
        @apply w-fit justify-between text-blue-600 hover:underline font-semibold;
    }

    .post_date {
        @apply text-lg;
    }

    code {
        @apply m-auto text-sm sm:text-base inline-flex text-left items-center space-x-4 bg-gray-800 text-white rounded-lg p-4 pl-6;
    }

}